
main{
  background-color:#e6e6e6;
  margin:  0;
  text-align: justify;

}
img{
      max-width: 100%;


}

.foto{


text-align: center;

  width: auto;

    text-align: center;
    margin-bottom: 10px;

}


.carousel-item img{

  min-height: 250px;


}


.carousel-control-prev-icon, .carousel-control-next-icon  {

    height: 40px;
    width: 40px;
    outline: black;
    background-color: #7e7e7e;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid  rgba(0, 0, 0, 0.4);



}

.carousel-indicators li{

  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(126, 126, 126, 0.4);
  border: 1px solid  rgba(0, 0, 0, 0.3);


}


.carousel-caption.text-right {

  right: 30px;
  bottom: 0px;
}

#down{



  bottom: 5px;

}




.featurette{

  position: relative;
  float: left;
  }

body{
position: relative;
background-color: #fff;
    background:url("grr.jpg") no-repeat fixed center;
}

.nav{
	background-color: blue;
	margin: 0px;
}

.navbar .navbar-expand-md{

  box-shadow: 0px 0px 5px #fff;
}

.row {

  margin: auto;
  width: 100%;

}

#carousel-slider{



}



#main{

  margin-top: 50px;
}

#logo{

margin:0;
width: 200px;
height: 20px;

}

.navbar-expand-md a{

  font-size: 20px;
  color: #fff;
}
.navbar-brand{

margin: 0;
margin-right: 0px;
width: auto;
height: 100%;

}
.carousel-item{


  background-color: #DCDCDC;

}

.carousel-caption{

  color: #000;

}


.btn{

font-family: 'Open Sans', sans-serif;

}
.btn:hover{

  color:#fff;
}

.btn .btn-outline-success{
  color: black;
  background-color: black;


}

.btn-secondary{

  font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      font-style: normal;
      text-shadow: none;
      text-transform: uppercase;
      padding: 14px 72px 16px 19px;
      position: relative;
      letter-spacing: 0;
   background: transparent;
      border-radius: 0;
      box-shadow: none;
      border: none;
      outline: none;
      border-radius: 0;
      z-index: 1;
      background-color: #A30F12;
      overflow: visible;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
}



.btn-secondary:hover{
  background-color: #A30F12;
  color: #dba520;

}

.btn.btn-secondary:hover:before {
    background-color: #B81014;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn.btn-secondary:after {
    font-family: 'FontAwesome';
    font-size: 50px;
    line-height: 86px;
    speak: none;
    content: "";
    background: lightblue url("grr.jpeg") no-repeat fixed center;
    position: absolute;
    width: 50px;
    height: 100%;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 0;
    background-color: #FAAC1A;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-green{
  background-color: #02C54C;
  color:#fff;

}

.btn-buy{

  color: #fff;
  margin-left: 78%;

}



.conteudo {

width: 40%;
height: 10%;
position:relative;
left:10%;

}

.conteudo img {

width: auto;
height: auto;
}

.vertical-menu {
  margin: 10px 20px 20px 15px;
  width: 200px;
  float: left;
  box-shadow: 0px 0px 5px #888888;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;

}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #A30F12;
    color: white;
}


footer{
  position: relative;
  float: left;
  background-color: #A30F12;
  color: #fff;
  bottom: 0;
  right: 0;
  width: 100%;
   box-shadow: 0px 0px 2px #888888;
}

#caixa{

  text-align: justify;



}


.Menu-vertical{

width: 300px;
top: 200px;
left: 100px;
position: relative;
float: left;

}


}

.featurette-vertical{
  border-right: 1px solid #fff;
}

.featurette-horizontal{


  border-bottom:  1px solid #fff;
}

 .copy{

   text-align:center;
   background-color:#4c080a;
   width: 100%;
   height: 100%;

 }


 .golden{

	margin-bottom: 20px;
	color:#daa520;

 }

 .red{
   margin-top: 20px;
   margin-bottom: 10px;
   	color: #A30F12;

 }

 .meu{

   background-color: #fff;
   box-shadow: 0px 4px 4px #888888;
   margin-bottom: 0px;
   margin-top: 81px;
   background-color: white;
   width: 20%;
   padding: 12px;
}

.marketing{

  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px #888888;
  margin-bottom: 0px;
  margin-top: 81px;

 }

 #marketing{


   margin-top: 0px;

 }


  #marketing_slide{


    margin-top: 101px;

  }

.rodape{
margin:30px 0px 60px 0px;



}

 #map {
  min-height: 300px;
  width: 100%;
  margin: 0px;

}

/*
.btn-group{
  min-width: 60px;
  z-index: 1;
    float: left;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.btn-group :hover {background-color: #a30f12}

.dropdown-toggle{
  background-color: inherit;

  width: 160px;


}
*/

/* Dropdown Button */
.dropbtn {
    min-width: 150px;
   background-color: inherit;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   margin: 0px 40px 0 0;


}

/* The container <div> - needed to position the dropdown content */
.dropdown {
   position: relative;
   display: inline-block;
   margin: 0px;
	max-width: 150px;

}
.mr-auto{

  text-align: center;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

   display: none;
   position: absolute;
   background-color: #A30F12;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 2;


}

/* Links inside the dropdown */
.dropdown-content a {
   color: #fff;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 12px;
	min-width: 260px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #daa520}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
   background-color: #A30F12;
}

.rounded-circle{

  width: 70px;
  height: 70px;
  padding: 5px;
  background-color: #bf0707;

    float: left;
    border: transparent thin solid;
    margin: 0 10px 5px 0px;

}


.col-lg-3 h3{
  font-size: 22px;
  text-align: left;
  margin: 5px 0px 20px 20px;

}

.col-lg-5{
height: 240px;

}

.box{


      margin-bottom: 20px;
      text-align: justify;
      line-height: 30px;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transition: all 0.7s ease;
      color: #333;
      min-height: 185px;
      font-weight: 500;

}
.row{

width: 100%;

}
h4{


  width: 100%;
}


#ativo,#contato{

color: white;
padding: 16px;
font-size: 16px;
border: none;
margin: 0px 40px 0 0;
text-decoration: none;
text-align: center;
}

#ativo {
background-color: #A30F12;
margin: 0px 20px;
padding: 8px;
}

#ativo:hover{


color: #daa520;

}

#contato:hover{

	background-color: inherit;

}

.calendario{





}

.quadrado{
text-align: center;
width:60px;
height:90px;
background-color: #A30F12;
top:23px;
color:#dba520;
margin-top: 0px;
margin-right: 10px;
padding: 9px;
float: left;
position: static;

}

a.titulo{

font-size: 20px;
text-decoration:none;
color: #000;
}

a.titulo:hover{


  color: #dba520;

}


#contato:hover{

  background-color: #A30F12;


}

.conteudo-secundario{

  margin: 32px 100px 100px 100px;


}

@media only screen and (max-width: 767px) {
    .conteudo-secundario{
      margin-left: 0px;
      margin-right: 0px;
    }
}
