*{

  margin: 0;
}


.container{
 
  position: relative;
  height: 790px;
  margin: 0;
  background-color: #00ff00;
  border: 3px solid grey;

}

.menu{

margin: 0;
width: 100%;
height: auto;
background: #0000ff;
border: 3px solid black;

}

.coluna{

float: left; 
margin: 0;
height: 96.2%;
width: 17%;
background: #ff0000;
border: 2px solid black;
text-rendering: auto;
}


.conteudo{

position: relative;
float: left; 
bottom: 0;
width: 82.25%;
height: 96%;
border: 3px solid red;
background: #cccccc;

}


img{
margin: 10px;
background: green;
padding: 5px;
width: 450px;
height: 250px;
border: 3px solid black;



}

h1{

color: rgb(0,0,0);


}