.rounded-circle{

  background-color: #bf0707;


}


body{
position: relative;

}

.navbar .navbar-expand-md{

background-color: red;

}


.carousel-item{


  background-color: #DCDCDC;

}

.btn-secondary{

    background-color: #A30F12;
}

.btn-green{
  background-color: #02C54C;
  color:#fff;

}

.btn-buy{

  color: #fff;
  margin-left: 78%;

}
.btn:hover{

  color:#fff;
}


.conteudo {

width: 40%;
height: 10%;
position:relative;
left:10%;

}

.conteudo img {

width: auto;
height: auto;
}

footer{

  background-color: #A30F12;
  color: #fff;
  bottom: 0;
  width: 100%;


}

.caixa{

  text-align: center;
  margin: 50px;
  width: 20%;
  background-color:green;
  position: relative;
  float: left;
}

.resto {
  margin-top: 100px;
  width: 40%;

  background-color: blue;


}
