.rounded-circle{

  background-color: #bf0707;


}


body{
position: relative;

}

.navbar .navbar-expand-md{

background-color: red;

}


.carousel-item{


  background-color: #DCDCDC;

}

.btn .btn-outline-success{
  color: black;
  background-color: black;


}
.btn-secondary{

    background-color: #A30F12;
}

.btn-green{
  background-color: #02C54C;
  color:#fff;

}

.btn-buy{

  color: #fff;
  margin-left: 78%;

}
.btn:hover{

  color:#fff;
}


.conteudo {

width: 40%;
height: 10%;
position:relative;
left:10%;

}

.conteudo img {

width: auto;
height: auto;
}

footer{
  position: relative;
  float: left;
  background-color: #A30F12;
  color: #fff;
  bottom: 0;
  width: 100%;

}

.caixa{

  text-align: justify;
  margin: 10px;

}


.resto {

  width: auto;
    margin: 10px;
  text-align: justify;
  left: 50%;
  float:left;

}

.fim{

    margin: 10px;
  text-align:justify;

}
